---
import Layout from '../layouts/BlogPost.astro';
import { Image } from 'astro:assets';

import LogoAi from '../../public/logo-Ai.png';
import LogoPs from '../../public/logo-Ps.png';
import LogoInd from '../../public/logo-Ind.png';
import LogoPr from '../../public/logo-Pr.png';
import LogoFigma from '../../public/logo-figma.png';

import LogoHtml from '../../public/logo-html.png';
import LogoCSS from '../../public/logo-css.png';
import LogoReact from '../../public/logo-react.png';
import LogoTailwind from '../../public/logo-tailwindcss.png';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
		labore et dolore magna aliqua. Vitae ultricies leo integer malesuada nunc vel risus commodo
		viverra. Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis eleifend quam
		adipiscing. In hac habitasse platea dictumst vestibulum. Sagittis purus sit amet volutpat. Netus
		et malesuada fames ac turpis egestas. Eget magna fermentum iaculis eu non diam phasellus
		vestibulum lorem. Varius sit amet mattis vulputate enim. Habitasse platea dictumst quisque
		sagittis. Integer quis auctor elit sed vulputate mi. Dictumst quisque sagittis purus sit amet.
	</p>

	<p>
		Morbi tristique senectus et netus. Id semper risus in hendrerit gravida rutrum quisque non
		tellus. Habitasse platea dictumst quisque sagittis purus sit amet. Tellus molestie nunc non
		blandit massa. Cursus vitae congue mauris rhoncus. Accumsan tortor posuere ac ut. Fringilla urna
		porttitor rhoncus dolor. Elit ullamcorper dignissim cras tincidunt lobortis. In cursus turpis
		massa tincidunt dui ut ornare lectus. Integer feugiat scelerisque varius morbi enim nunc.
		Bibendum neque egestas congue quisque egestas diam. Cras ornare arcu dui vivamus arcu felis
		bibendum. Dignissim suspendisse in est ante in nibh mauris. Sed tempus urna et pharetra pharetra
		massa massa ultricies mi.
	</p>

	<p>
		Mollis nunc sed id semper risus in. Convallis a cras semper auctor neque. Diam sit amet nisl
		suscipit. Lacus viverra vitae congue eu consequat ac felis donec. Egestas integer eget aliquet
		nibh praesent tristique magna sit amet. Eget magna fermentum iaculis eu non diam. In vitae
		turpis massa sed elementum. Tristique et egestas quis ipsum suspendisse ultrices. Eget lorem
		dolor sed viverra ipsum. Vel turpis nunc eget lorem dolor sed viverra. Posuere ac ut consequat
		semper viverra nam. Laoreet suspendisse interdum consectetur libero id faucibus. Diam phasellus
		vestibulum lorem sed risus ultricies tristique. Rhoncus dolor purus non enim praesent elementum
		facilisis. Ultrices tincidunt arcu non sodales neque. Tempus egestas sed sed risus pretium quam
		vulputate. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus ornare. Fringilla
		urna porttitor rhoncus dolor purus non. Amet dictum sit amet justo donec enim.
	</p>

	<p>
		Mattis ullamcorper velit sed ullamcorper morbi tincidunt. Tortor posuere ac ut consequat semper
		viverra. Tellus mauris a diam maecenas sed enim ut sem viverra. Venenatis urna cursus eget nunc
		scelerisque viverra mauris in. Arcu ac tortor dignissim convallis aenean et tortor at. Curabitur
		gravida arcu ac tortor dignissim convallis aenean et tortor. Egestas tellus rutrum tellus
		pellentesque eu. Fusce ut placerat orci nulla pellentesque dignissim enim sit amet. Ut enim
		blandit volutpat maecenas volutpat blandit aliquam etiam. Id donec ultrices tincidunt arcu. Id
		cursus metus aliquam eleifend mi.
	</p>

	<p>
		Tempus quam pellentesque nec nam aliquam sem. Risus at ultrices mi tempus imperdiet. Id porta
		nibh venenatis cras sed felis eget velit. Ipsum a arcu cursus vitae. Facilisis magna etiam
		tempor orci eu lobortis elementum. Tincidunt dui ut ornare lectus sit. Quisque non tellus orci
		ac. Blandit libero volutpat sed cras. Nec tincidunt praesent semper feugiat nibh sed pulvinar
		proin gravida. Egestas integer eget aliquet nibh praesent tristique magna.
	</p>

	<section class="w-screen flex flex-col gap-5 justify-between items-start h-auto bg-secondaryblack px-44 text-white py-10 text-basewhite">
				
		<div class="w-full grid grid-cols-1 grid-flow-row grid-row-3 gap-2">

			<h2 class="text-4xl font-Retro">Mes outils</h2>

			<h3 class="text-lg font-Retro">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>

		</div>

		<div class="w-full text-basewhite font-Retro flex justify-between">

			<div class="w-max grid items-center grid-cols-3 grid-rows-2 gap-3 justify-items-center">

				<div class="w-max relative">
					<a class="absolute inset-0 z-10 bg-primaryorange text-center flex flex-col items-center justify-center hover:translate-y-2 hover:translate-x-2 opacity-0 hover:opacity-100 bg-opacity-50 duration-300 border-4 border-primaryblue rounded-xl">
					<h1>Adobe<br>Illustrator</h1>
					<a href="#" class="relative">
						<div class="w-max h-auto flex flex-wrap content-center">
							<Image src={LogoAi} width="150"
					height="150" alt="Logo de l'application Adobe Illustrator"/>
						</div>
					</a>
				</div>

				<div class="w-max relative">
					<a class="absolute inset-0 z-10 bg-secondaryblue text-center flex flex-col items-center justify-center hover:translate-y-2 hover:translate-x-2 opacity-0 hover:opacity-100 bg-opacity-50 duration-300 border-4 border-primaryblue rounded-xl">
					<h1  class=tracking-wider>Adobe<br>Photoshop</h1>
					<a href="#" class="relative">
						<div class="w-max h-auto flex flex-wrap content-center">
							<Image src={LogoPs} width="150"
					height="150" alt="Logo de l'application Adobe Illustrator"/>
						</div>
					</a>
				</div>

				<div class="w-max relative">
					<a class="absolute inset-0 z-10 bg-primaryred text-center flex flex-col items-center justify-center hover:translate-y-2 hover:translate-x-2 opacity-0 hover:opacity-100 bg-opacity-50 duration-300 border-4 border-primaryblue rounded-xl">
					<h1  class=tracking-wider>Adobe<br>InDesign</h1>
					<a href="#" class="relative">
						<div class="w-max h-auto flex flex-wrap content-center">
							<Image src={LogoInd} width="150"
					height="150" alt="Logo de l'application Adobe Illustrator"/>
						</div>
					</a>
				</div>

				<div class="w-max relative">
					<a class="absolute inset-0 z-10 bg-secondaryblue text-center flex flex-col items-center justify-center hover:translate-y-2 hover:translate-x-2 opacity-0 hover:opacity-100 bg-opacity-50 duration-300 border-4 border-primaryblue rounded-xl">
					<h1  class=tracking-wider>Adobe<br>Premiere<br>Pro</h1>
					<a href="#" class="relative">
						<div class="w-max h-auto flex flex-wrap content-center">
							<Image src={LogoPr} width="150"
					height="150" alt="Logo de l'application Adobe Illustrator"/>
						</div>
					</a>
				</div>

				<div class="w-max relative">
					<a class="absolute inset-0 z-10 bg-primarypink text-center flex flex-col items-center justify-center hover:translate-y-2 hover:translate-x-2 opacity-0 hover:opacity-100 bg-opacity-50 duration-300 border-4 border-primaryblue rounded-xl">
					<h1>Figma</h1>
					<a href="#" class="relative">
						<div class="w-max h-auto flex flex-wrap content-center">
							<Image src={LogoFigma} width="150"
					height="150" alt="Logo de l'application Adobe Illustrator"/>
						</div>
					</a>
				</div>
			
			</div>		

			<div class="w-max grid grid-cols-2 grid-rows-2 gap-5 items-center">
			
				<div class="w-max relative">
					<a class="absolute inset-0 z-10 bg-primaryred text-center flex flex-col items-center justify-center hover:translate-y-2 hover:translate-x-2 opacity-0 hover:opacity-100 bg-opacity-50 duration-300 border-4 border-primaryblue rounded-xl">
					<h1>HTML 5</h1>
					<a href="#" class="relative">
						<div class="w-max h-auto flex flex-wrap content-center">
							<Image src={LogoHtml} width="150"
					height="150" alt="Logo de l'application Adobe Illustrator"/>
						</div>
					</a>
				</div>

				<div class="w-max relative">
					<a class="absolute inset-0 z-10 bg-secondaryblue text-center flex flex-col items-center justify-center hover:translate-y-2 hover:translate-x-2 opacity-0 hover:opacity-100 bg-opacity-50 duration-300 border-4 border-primaryblue rounded-xl">
					<h1>CSS 3</h1>
					<a href="#" class="relative">
						<div class="w-max h-auto flex flex-wrap content-center">
							<Image src={LogoCSS} width="150"
					height="150" alt="Logo de l'application Adobe Illustrator"/>
						</div>
					</a>
				</div>

				<div class="w-max relative">
					<a class="absolute inset-0 z-10 bg-secondaryblue text-center flex flex-col items-center justify-center hover:translate-y-2 hover:translate-x-2 opacity-0 hover:opacity-100 bg-opacity-50 duration-300 border-4 border-primaryblue rounded-xl">
					<h1>React</h1>
					<a href="#" class="relative">
						<div class="w-max h-auto flex flex-wrap content-center">
							<Image src={LogoReact} width="150"
					height="150" alt="Logo de l'application Adobe Illustrator"/>
						</div>
					</a>
				</div>
			
				<div class="w-max relative">
					<a class="absolute inset-0 z-10 bg-secondaryblue text-center flex flex-col items-center justify-center hover:translate-y-2 hover:translate-x-2 opacity-0 hover:opacity-100 bg-opacity-50 duration-300 border-4 border-primaryblue rounded-xl">
					<h1>TailWind<br>CSS</h1>
					<a href="#" class="relative">
						<div class="w-max h-auto flex flex-wrap content-center">
							<Image src={LogoTailwind} width="150"
					height="150" alt="Logo de l'application Adobe Illustrator"/>
						</div>
					</a>
				</div>

			</div>

		</div>

	</section>

</Layout>
